body {
  background-color: brown;
}
h1 {
  color: white;
  text-align: center;
}
.personal_info {
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(43, 226, 55);
}
.image_1 {
  width: 200px;
}
.job_info {
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: bisque;
}
